asgiref==3.6.0
attrs==22.2.0
certifi==2022.12.7
charset-normalizer==3.0.1
coreapi==2.3.3
coreschema==0.0.4
decorator==5.1.1
Django==3.2.18
django-filter==22.1
djangorestframework==3.14.0
drf-yasg==1.21.5
Faker==17.0.0
future==0.18.3
idna==3.4
inflection==0.5.1
itypes==1.2.0
Jinja2==3.1.2
jsonschema==4.17.3
MarkupSafe==2.1.2
openapi==1.1.0
packaging==23.0
Pillow==9.4.0
pyrsistent==0.19.3
python-dateutil==2.8.2
pytz==2022.7.1
requests==2.28.2
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
serializers==0.2.4
simplerouter==1.2
six==1.16.0
sqlparse==0.4.3
uritemplate==4.1.1
urllib3==1.26.14
validators==0.20.0
WebOb==1.8.7
